body {
    color: azure;
    background-color: rgb(61, 0, 48);
    font-family: initial;
    font-size: 120%;
    align-items: center;
}


ul {
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 50px;
}

a {
    color: rgb(255, 234, 212);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

h2{
    

}